TR { font-family: tahoma; font-size: 14px; font-weight: bold }
TD { font-family: tahoma; font-size: 14px; font-weight: bold }
INPUT { font-family: tahoma; font-size: 14px; font-weight: bold  }
SELECT { font-family: tahoma; font-size: 14px; }